.container {
    position: absolute;
    bottom: 100px;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
}

.box {
    margin: 0 30px;
    display: flex;

    background-color: #F7F7F7;
    z-index: 10;
    border-radius: 10px;
    overflow: hidden;
}

.details {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.details > div {
    margin: 0 30px;
}

.location {
    flex-grow: 0;
    display: grid;
    place-items: center;
    background-color: transparent;
    border-right: .1em solid black;
    padding: 0 20px;
    text-align: center;
}

.location h1 {
    font-size: 25px;
}

.defaultBox {
    background-color: #F7F7F7;
    padding: 10px;
}

.link {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .container {
        margin-top: 50px;
        position: static;
    }

    .box {
        width: 100%;
        border-radius: 0;
    }

    .defaultBox {
        width: 100%;
    }
}