.container {
  padding: 200px 240px 0 240px;
  width: 100%;
}

.title {
  padding-bottom: 300px;
}

.title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 175px;
  line-height: 173px;
  text-align: center;
  letter-spacing: -.05em;
  margin: 0;

  padding: 0 calc((100% - 1050px) / 2);
}

.squiggle {
  position: relative;
  color: #98E000;
}

.squiggle:after {
  position: absolute;
  z-index: -1;
  bottom: -30px;
  left: -5%;

  aspect-ratio: 543/73;
  width: 110%;
  content: "";
  background: url("/vectors/squiggle.svg");
  background-size: cover;
}

.title h1:nth-of-type(odd) {
  text-align: right;
}

.title h1:nth-of-type(even) {
  text-align: left;
}

@media only screen and (max-width: 1500px) {
  .title h1 {
    font-size: 120px;
    line-height: 117px;
    padding: 0 calc((100% - 720px) / 2);
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title h1 {
    font-size: 80px;
    line-height: 77px;
    padding: 0 calc((100% - 500px) / 2);
  }
}

@media only screen and (max-width: 500px) {
  .title {
    padding-bottom: 200px;
  }

  .title h1 {
    font-size: 60px;
    line-height: 57px;
    padding: 0 calc((100% - 370px) / 2);
  }
}