.container {
    padding: 200px 15px 50px 15px;
    display: grid;
    place-items: center;
}

.centered {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 80%;
}

@media only screen and (max-width: 650px) {
    .container {
        display: block;
    }

    .centered {
        max-width: 100%;
    }
}