.container {
    padding: 150px 0 200px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 140px;
}

.image {
    position: relative;
    height: 740px;
    width: 440px;
    flex-shrink: 0;

    background: var(--url);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.text {
    min-width: 250px;
    max-width: 670px;
    display: grid;
    align-content: center;
}

.text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}