.container {
  margin: 50px 0;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: grid;
  place-items: center;
}

.centered {
  width: 40%;
}

.text {
  padding-bottom: 20px;
  text-align: center;
}

.logo {
  width: 100%;
  display: grid;
  place-items: center;
  height: 100px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 500px) {
  .text {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 1600px) {
  .centered {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .centered {
    width: 80%;
  }
}