.container {
  margin-top: 100px;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: grid;
  place-items: center;
}

.centered {
  width: 40%;
}

.text {
  padding-bottom: 50px;
  text-align: justify;
}

.logo {
  width: 100%;
  display: grid;
  place-items: center;
  height: 200px;
}

@media only screen and (max-width: 1900px) {
  .centered {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    display: block;
    margin: 100px 20px;
    width: calc(100% - 40px);
    min-height: 0;
  }

  .centered {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .text {
    padding-bottom: 20px;
  }
}