.container {
    height: 100vh;
    width: 100%;
}

.map {
    height: 100vh;
    padding: 100px;
    display: grid;
    place-items: center;
}

.map svg {
    max-height: 55vh;
    max-width: 100%;
}

.pin g {
    stroke: #ed1c24;
    fill: white;
}

.pinSelected g {
    fill: #ed1c24;
    stroke: white;
}

.pin:hover g {
    fill: #ed1c24;
    stroke: white;
}