.container {
    padding: 10px;
    display: grid;
    place-items: center;
    font-size: 12px;
}

.container p {
    margin: 0;
    text-align: center;
}

.name {
    text-transform: uppercase;
    font-size: 10px;
}

.value {
    font-size: 25px;
}